{% include 'header.html' %}

<body id="page-top">

{% include 'navbar.html' %}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                         <h1 class="h5 mb-0 text-gray-800" align="center">Silahkan Login Terlebih dahulu !</h1>
                    </div>

                    <!-- Content Row -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                         <a class="h7" href="{{ url_for( 'login' )}}">Login Here.</a>
                     </div>
                    <!-- Content Row -->

                    <div class="row"></div>
</body>
{% include 'footer.html' %}